/*Styles for the body background
*/

body {
	color:darkblue;
	background-color: lightgreen;
	margin:0px;
}

main{
	margin-left:20px;
	margin-right: 20px;
}

.navbar ul{
	list-style-type: none;
	background-color: rgb(10, 131, 10);
	padding:0px;
	margin:0px;
	overflow: hidden;
}
.navbar a{
	color:white;
	text-decoration:none;
	padding:15px;
	display:block;
	text-align:center;
}
.navbar a:hover{
	background-color: rgb(2, 74, 2);
}
.navbar li{
	float:left;
}

a:link { 
color:blue;
}
a:visited {
color:red;
}
a:hover {
color:cyan;
}
a:active {
color:yellow;
}
p {
	color:red;
	font-size:18px;
	font-weight:bold;
	font-family:Lucida, Arial, sans-serif;
	text-indent:1.4px;
	line-height:30px;
}
	
h1, h2 {
	color:purple;
	font-family:Arial;

}
h1 {
	color:purple;
	font-size:50px;
	font-weight:normal;
	text-align:center;
	text-decoration:underline;
	text-transform:uppercase;
	letter-spacing:1px;
	
}

h2, h3 {
	font-style:normal;
	font-weight:bold;
	font-family:Arial,Sans-serif;
	
	
}








