/*Styles for the body background*/
body {
	color:darkblue;
	background-color:lightgreen;
	
}


a:link { 
color:blue;
}
a:visited {
color:white;
}
a:hover {
color:cyan;
}
a:active {
color:yellow;
}
p {
	color:red;
	font-size:18px;
	font-weight:bold;
	font-family:Lucida, Arial, sans-serif;
	text-indent:1.4px;
	line-height:30px;
}
	
h1, h2 {
	color:purple;
	font-family:Arial;

}
h1 {
	color:purple;
	font-size:50px;
	font-weight:normal;
	text-align:center;
	text-decoration:underline;
	text-transform:uppercase;
	letter-spacing:1px;
	
}

h2, h3 {
	font-style:normal;
	font-weight:bold;
	font-family:Arial,Sans-serif;
	
	
}




