body{
    background-color: lightskyblue;
    text-align:center;
    
}

a:link { 
    color:rgb(78, 78, 201);
    }
    a:visited {
    color:red;
    }
    a:hover {
    color:cyan;
    }
    a:active {
    color:yellow;
    }



ul {
    list-style-type: none;
}

