

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: burlywood;/*linear-gradient(135deg, #cf9aff, #95c0ff);*/
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;
}

.container h1 {
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    color: brown;
}

.container button{
   display: flex;
   align-items: center;
   background: linear-gradient(#9418fd, #572094);
   color:#fff;
   font-size: 16px;
   outline: 0;
   border: 0;
   border-radius: 40px;
   padding: 15px 25px;
   margin: 30px 0 20px;
}

.container button img {
  width: 25px;
  margin-right: 8px;
}

.input-box {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 20px 0; 
    outline: none;
    border-radius: 5px;
}

.input-box img {
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
/*
h1{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
      color: brown;
  }

h2 {
    text-align: center;
}


p {
    text-align: center;
}

div.päivämäärä {

}

@media (max-width: 600px) {
    .hide-on-small-screens {
      width: 100%;
      height: auto;
      z-index: 1;
    }
  }
  

#side_nav{
    background: rgb(0, 0, 0);
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    position: fixed;
    min-height: 100%;
    max-height: 100%;
   }
  
   hr.h-color{
     background: #eee;
   }
   
   .sidebar li.active{
      background: red;
      border-radius: 8px;
   }
   
   .sidebar li.active a, .sidebar li.active a:hover {
    color: #000;
   }
   .sidebar li a{
    color: #fff;
   }

   @media(max-width: 767px){
    #side_nav{
      margin-left: -250px;
      position: sticky;
      min-height: 100%;
      
   
    }
    #side_nav.active{
      margin-left: 0;
     }
   }